@model IEnumerable<上海燕洵物联网科技有限公司人事管理系统.Models.PunchcardViewModel>

@{
    ViewBag.Title = "GetAllAttend";
}

<h2>打卡记录</h2>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<table class="table">
    <tr>
        <th>
            员工编号
        </th>
        <th>
            签到时间
        </th>
        <th>
            签退时间
        </th>
        <th>
            打卡状态
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Signindate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Signoutdate)
            </td>
            <td>
                @if (item.AttenState == 1)
                {
                    @:正常工作
                }
                else if (item.AttenState == 2)
                {
                    @:迟到
                }
                else if (item.AttenState == 3)
                {
                    @:早退
                }
                else if (item.AttenState == 4)
                {
                    @:旷工
                }
                else
                {
                    @:未打卡
                }
            </td>
        </tr>
    }

</table>

@*<ul class="pagination" style="margin-left:300px">
    <li><a href="#">上一页</a></li>
    @for (int i = 1; i < Convert.ToInt32(ViewBag.ZongSize); i++)
    {
        <li><a href="#">@i</a></li>
    }
    <li><a href="#">下一页</a></li>
</ul>
<span>当前页 @Session["pageIndex"]</span>*@

<script>
    fun();
    function fun() {
        $("[name=Menu]").empty();
        $.ajax({
            url: "../Login/showmenu",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                var li = '';
                for (var i in data) {
                    li += '  <li><a href="\\Login\\funmenu?PermissionName=' + data[i].PermissionName + '"><i class="fa fa-edit"></i><span>' + data[i].PermissionName + '</span></a></li>';
                }
                $("[name=Menu]").append(li);


            }

        })

    }
</script>
