@model 上海燕洵物联网科技有限公司人事管理系统.Models.VacateViewModel

@{
    ViewBag.Title = "VacateAttendance";
}

<h4>员工请假</h4>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>VacateViewModel</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Cause, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.RadioButtonFor(model => model.Cause, "事假", new { @checked = "checked" })"事假"
            @Html.RadioButtonFor(model => model.Cause, "产假", new { @checked = "checked" })"产假"
            @Html.RadioButtonFor(model => model.Cause, "丧假", new { @checked = "checked" })"丧假"
            @Html.RadioButtonFor(model => model.Cause, "病假", new { @checked = "checked" })"病假"
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Remark)
            @Html.ValidationMessageFor(model => model.Remark)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="保存" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
