@model IEnumerable<上海燕洵物联网科技有限公司人事管理系统.Models.PaymessageViewModel>
<script src="~/Scripts/jquery-3.3.1.js"></script>

<h4>员工工资列表</h4>
<table class="table">
    <tr>
        <th>
            员工编号
        </th>
        <th>
            员工姓名
        </th>
        <th>
            身份证号
        </th>
        <th>
            入职日期
        </th>
        <th>
            本月基本工资
        </th>
        <th>
            各项社会保险费
        </th>
        <th>
            应得工资
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Papersnum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entrydate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TryMoney)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegularMoney)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresentMoney)
            </td>
        </tr>
    }

</table>
<script>
    fun();
    function fun() {
        $("[name=Menu]").empty();
        $.ajax({
            url: "../Login/ShowMenu",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                console.log(data);
                var li = '';
                for (var i in data) {
                    li += '  <li><a href="' + data[i].href + '"><i class="fa fa-edit"></i><span>' + data[i].PermissionName + '</span></a></li>';
                }
                $("[name=Menu]").append(li);
            }

        })


    }
</script>
