@model 上海燕洵物联网科技有限公司人事管理系统.Models.PaymessageViewModel

@{
    ViewBag.Title = "ShowMoney";
}

<h2>ShowMoney</h2>

<div>
    <h4>PaymessageViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentsId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentsId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Papersnum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Papersnum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entrydate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entrydate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TryMoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TryMoney)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegularMoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegularMoney)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresentMoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresentMoney)
        </dd>

    </dl>
</div>
