<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>员工个人信息管理</title>
    <link href="~/css/style.default.css" rel="stylesheet" />
    <link href="~/css/helvetica.css.html" rel="stylesheet">
</head>
<body>

    <section>
        <div class="leftpanel">
            <div class="logopanel">
                <h1><span>[</span> 个人信息管理 <span>]</span></h1>
            </div>
            <!-- logopanel -->

            <div class="leftpanelinner">
                <h5 class="sidebartitle">导航菜单</h5>
                <ul name="Menu" class="nav nav-pills nav-stacked nav-bracket">

                </ul>
            </div>
            <!-- leftpanelinner -->
        </div>
        <!-- leftpanel -->
        <div class="mainpanel">
            <div class="headerbar">
                <a class="menutoggle"><i class="fa fa-bars"></i></a>

                <div class="header-right">
                    <ul class="headermenu">
                        <li>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    @*<img src="~/images/loggeduser.png" alt="" />*@
                                    <img src="~/images/snw.png" alt="" />
                                    @Session["Name"]
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                                    <li><a href="/Login/GetoneLogin"><i class="glyphicon glyphicon-log-out"></i>注销</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- header-right -->
            </div>
            <!-- 内容区域 -->
            <div class="contentpanel panel-email">
                @RenderBody()
                <hr />
            </div>

        </div>
        <!-- mainpanel -->
    </section>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/js/jquery-1.11.1.min.js"></script>
    <script src="~/js/jquery.cookies.js"></script>
    <script src="~/js/jquery.sparkline.min.js"></script>
    <script src="~/js/retina.min.js"></script>
    <script src="~/js/toggles.min.js"></script>
    <script src="~/js/modernizr.min.js"></script>

    <script src="~/js/custom.js"></script>
    <script>
        jQuery(document).ready(function () {

            //Check
            jQuery('.ckbox input').click(function () {
                var t = jQuery(this);
                if (t.is(':checked')) {
                    t.closest('tr').addClass('selected');
                } else {
                    t.closest('tr').removeClass('selected');
                }
            });

            // Star
            jQuery('.star').click(function () {
                if (!jQuery(this).hasClass('star-checked')) {
                    jQuery(this).addClass('star-checked');
                }
                else
                    jQuery(this).removeClass('star-checked');
                return false;
            });

            // Read mail
            jQuery('.table-email .media').click(function () {
                location.href = "read.html";
            });

        });
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

