@model 上海燕洵物联网科技有限公司人事管理系统.Models.DepartmentViewModel

@{
    ViewBag.Title = "添加部门";
}

<h2>添加部门信息</h2>
<script src="~/Content/jquery-3.1.1.js"></script>
<link href="~/Areas/layer/mobile/need/layer.css" rel="stylesheet" />
<script src="~/Areas/layer/layer.js"></script>





    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("添加部门名称：", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BName)
                @Html.ValidationMessageFor(model => model.BName)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("添加部门描述", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Bremark)
                @Html.ValidationMessageFor(model => model.Bremark)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="添加部门" onclick="AddDepart()" class="btn btn-default" />
            </div>
        </div>
    </div>


<div>
    @Html.ActionLink("返回部门列表", "ShowDepart")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    fun();
    function fun() {
        $("[name=Menu]").empty();
        $.ajax({
            url: "/Login/ShowMenu",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                console.log(data);
                var li = '';
                for (var i in data) {
                    li += '  <li><a href="' + data[i].href + '"><i class="fa fa-edit"></i><span>' + data[i].PermissionName + '</span></a></li>';
                }
                $("[name=Menu]").append(li);
            }

        })


    }
    function AddDepart() {
        var o = {
            BName: $("#BName").val(),
            Bremark: $("#Bremark").val()
        }
        $.ajax({
            url: "/Manager/AddDepart",
            data: { department: o },
            type: "post",
            success: function (data) {
                layer.alert(data);
            }
        })
    }
</script>