@model 上海燕洵物联网科技有限公司人事管理系统.Models.DepartmentViewModel

@{
    ViewBag.Title = "AddDepart";
}

<h2>添加部门信息</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>DepartmentViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("添加部门名称：", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BName)
                @Html.ValidationMessageFor(model => model.BName)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("添加部门描述", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Bremark)
                @Html.ValidationMessageFor(model => model.Bremark)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="添加部门" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回部门列表", "ShowDepart")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
