@model IEnumerable<上海燕洵物联网科技有限公司人事管理系统.Models.TempFinanceViewModel>

@{
    ViewBag.Title = "员工信息";
}

<h2>GetAllEmp</h2>

<p>
    @Html.ActionLink("员工入职", "AddEmp")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("员工姓名")
        </th>
        <th>
            @Html.DisplayName("所属部门")
        </th>
        <th>
            @Html.DisplayName("员工性别")
        </th>
        <th>
            @Html.DisplayName("身份证号")
        </th>
        <th>
            @Html.DisplayName("手机号")
        </th>
        <th>
            @Html.DisplayName("职务名称")
        </th>
        <th>
            @Html.DisplayName("个人邮箱")
        </th>
        <th>
            @Html.DisplayName("合同类型")
        </th>
        <th>
            @Html.DisplayName("员工类型")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Esex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Papersnum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Eduty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tracttype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Etype)
        </td>

        <td>
            @Html.ActionLink("员工调职", "Edit", new { id = item.Id }) |
            <a href="#" onclick="Del(@item.Id,this)">开除员工</a>
        </td>
    </tr>
}

</table>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    fun();
    function fun() {
        $("[name=Menu]").empty();
        $.ajax({
            url: "../Login/ShowMenu",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                console.log(data);
                var li = '';
                for (var i in data) {
                    li += '  <li><a href="' + data[i].href + '"><i class="fa fa-edit"></i><span>' + data[i].PermissionName + '</span></a></li>';
                }
                $("[name=Menu]").append(li);
            }

        })


    }
    function Del(Id, obj) {
        if (confirm("是否开除此员工？")) {
            $.ajax({
                url: "/Manager/DeleteEmp?Id=" + Id,
                success: function (data) {
                    alert(data);
                    $(obj).parent().parent().remove();
                }
            })
        }
    }
</script>
