@model IEnumerable<上海燕洵物联网科技有限公司人事管理系统.Models.DepartmentViewModel>

@{
    ViewBag.Title = "显示部门信息";
}
<script src="~/Content/jquery-3.1.1.js"></script>
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui/layui.js"></script>
<h2>显示部门信息</h2>

<p>
    <button class="layui-btn" onclick="location.href='/Manager/AddDepart'">
        <i class="layui-icon">&#xe608</i>新增部门
    </button>
  
    <span>总记录数<span id="totaldata">@ViewBag.totaldata</span>条</span>
</p>
<table class="layui-table" lay-size="lg">
    <thead>
        <tr>
            <th>
                @Html.Label("部门名称")
            </th>
            <th>
                @Html.Label("部门描述")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bremark)
                </td>
                <td>
                    <button  class="layui-btn layui-btn-radius"  onclick="location.href='/Manager/UpdateDepart?id=@item.Id'">修改</button>
                    <button class="layui-btn layui-btn-radius layui-btn-normal" onclick="location.href='/Manager/GetOneDepart?id=@item.Id'">详情</button>
                    <button class="layui-btn layui-btn-radius layui-btn-danger" onclick="Del(@item.Id,this)">删除</button>


                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <span>
        <span>当前第</span>
        <span id="currentindex">@ViewBag.currentindex</span>
        <span>页，总共</span>
        <span id="totalpage"></span>
        <span>页</span>

    </span>
    <button class="layui-btn" onclick="BtnUp()">
        <i class="layui-icon">上一页</i>
    </button>
    <button class="layui-btn" onclick="BtnDown()">
        <i class="layui-icon">下一页</i>
    </button>
   
</p>
<script>
    $(function () {
        $("#totalpage").text(Math.ceil((Number($("#totaldata").text()) / 5)));
    })
    function BtnUp() {
        if ($("#currentindex").text() != 1) {
            location.href = "/Manager/ShowDepart?pageindex=" + Number(Number($("#currentindex").text()) - 1);
        }
        else {
            layer.alert('已经是首页了');            
        }
    }
    function BtnDown() {
        if ($("#currentindex").text() != $("#totalpage").text()) {
            location.href = "/Manager/ShowDepart?pageindex=" + Number(Number($("#currentindex").text()) + 1);
        }
        else {
            layer.alert('已经是尾页了');           
        }
    }
    fun();
    function fun() {
        $("[name=Menu]").empty();
        $.ajax({
            url: "/Login/ShowMenu",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                console.log(data);
                var li = '';
                for (var i in data) {
                    li += '  <li><a href="' + data[i].href + '"><i class="fa fa-edit"></i><span>' + data[i].PermissionName + '</span></a></li>';
                }
                $("[name=Menu]").append(li);
            }

        })


    }
    function Del(id, obj) {
        layui.use('layer', function () {
            $.ajax({
                url: "/Manager/DeleteDepart?Id=" + id,
                success: function (data) {
                    layer.alert(data);
                    $(obj).parent().parent().remove();
                }
            })
        }
            )
    }
</script>

