@model IEnumerable<上海燕洵物联网科技有限公司人事管理系统.Models.DepartmentViewModel>

@{
    ViewBag.Title = "ShowDepart";
}
<script src="~/Content/jquery-3.1.1.js"></script>
<h2>ShowDepart</h2>

<p>
    @Html.ActionLink("新增部门", "AddDepart")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("部门名称")
        </th>
        <th>
            @Html.Label("部门描述")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bremark)
        </td>
        <td>
            @Html.ActionLink("修改", "UpdateDepart", new { id=item.Id }) |
            @Html.ActionLink("详情", "GetOneDepart", new { id=item.Id }) |
            @Html.ActionLink("删除", "DeleteDepart", new { id=item.Id })
        </td>
    </tr>
}

</table>
<p>
    <span>
        <span>当前第</span>
        <span id="currentindex">@ViewBag.currentindex</span>
        <span>页，总共</span>
        <span id="totalpage">@ViewBag.totalpage</span>
        <span>页</span>

    </span>
    <input id="BtnUp" type="button" value="上一页" onclick="BtnUp()"/>
    <input id="BtnDown" type="button" value="下一页" onclick="BtnDown()"/>
</p>
<script>
    function BtnUp() {
        if ($("#currentindex").text != 1) {
            location.href = "/Manager/ShowDepart?pageindex=" + Number(Number(@ViewBag.currentindex) - 1);
        }
        else {
            alert('已经是首页了');
            return;
        }
        function BtnDown() {
            if ($("#currentindex").text != $("#totalpage").text) {
            location.href = "/Manager/ShowDepart?pageindex=" + Number(Number(@ViewBag.currentindex) + 1);
        }
        else {
            alert('已经是尾页了');
            return;
        }
</script>
<script>
    fun();
    function fun() {
        $("[name=Menu]").empty();
        $.ajax({
            url: "../Login/ShowMenu",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                console.log(data);
                var li = '';
                for (var i in data) {
                    li += '  <li><a href="\\Login\\funmenu?PermissionName=' + data[i].PermissionName + '"><i class="fa fa-edit"></i><span>' + data[i].PermissionName + '</span></a></li>';
                }
                $("[name=Menu]").append(li);
            }

        })


    }
</script>
