@model IEnumerable<上海燕洵物联网科技有限公司人事管理系统.Models.VacateViewModel>
@using 上海燕洵物联网科技有限公司人事管理系统.Controllers

@{
    ViewBag.Title = "显示员工请假信息";
}
<script src="~/Content/jquery-3.1.1.js"></script>
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui/layui.js"></script>
<h2>显示员工请假信息</h2>
<span>总记录数<span id="totaldata">@ViewBag.totaldata</span>条</span>
<table class="layui-table">
    <tr>
        <th>
            员工编号
        </th>
        <th>
            员工姓名
        </th>
        <th>
            请假原因
        </th>
        <th>
            请假描述
        </th>
        <th>
            请假状态
        </th>
        <th>审批操作</th>
        <th>删除操作</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cause)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                @{StateInfo s = (StateInfo)item.VacateState;}
                @s
            </td>

            <td>
                @if (s == StateInfo.审核通过)
                {
                   <i>已通过</i> 
                }
                else if (s == StateInfo.待审核)
                {
                    <button class="layui-btn layui-btn-radius" onclick="location.href='/Manager/VacateEmp?id=@item.Id'">审核</button>
                }
                else
                {
                   <i>已驳回</i>

                }
            </td>
            <td>
                <button class="layui-btn layui-btn-radius layui-btn-danger" onclick="Del(@item.Id,this)">删除</button>
            </td>
        </tr>
    }

</table>
<p>
    <span>
        <span>当前第</span>
        <span id="currentindex">@ViewBag.currentindex</span>
        <span>页，总共</span>
        <span id="totalpage">@ViewBag.totalpage</span>
        <span>页</span>

    </span>
    <button class="layui-btn" onclick="BtnUp()">
        <i class="layui-icon">上一页</i>
    </button>
    <button class="layui-btn" onclick="BtnDown()">
        <i class="layui-icon">下一页</i>
    </button>
</p>
<script>
    $(function () {
        $("#totalpage").text(Math.ceil((Number($("#totaldata").text()) / 5)));
    })
    function BtnUp() {
        layui.use('layer', function () {
            if ($("#currentindex").text() != 1) {
                location.href = "/Manager/ShowVacate?pageindex=" + Number(Number($("#currentindex").text()) - 1);
            }
            else {
                layer.alert('已经是首页了');
            }
        })
    }
    function BtnDown() {
        layui.use('layer', function () {
            if ($("#currentindex").text() != $("#totalpage").text()) {
                location.href = "/Manager/ShowVacate?pageindex=" + Number(Number($("#currentindex").text()) + 1);
            }
            else {
                layer.alert('已经是尾页了');
            }
        })
    }

    fun();
    function fun() {
        $("[name=Menu]").empty();
        $.ajax({
            url: "../Login/ShowMenu",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                console.log(data);
                var li = '';
                for (var i in data) {
                    li += '  <li><a href="' + data[i].href + '"><i class="fa fa-edit"></i><span>' + data[i].PermissionName + '</span></a></li>';
                }
                $("[name=Menu]").append(li);
            }

        })


    }
    function Del(Id, obj) {
        layui.use('layer', function () {
            layer.confirm('确认删除吗？', {
                btn: ['确定', '取消'] //可以无限个按钮
            }, function (index, layero) {
                $.ajax({
                    url: "/Manager/DeleteVacate?Id=" + Id,
                    success: function (data) {
                        layer.alert(data);
                        $("#totaldata").text(Number(Number($("#totaldata").text()) - 1))
                        location.reload();
                    }
                })
                }, function (index) {
                    
            });
        
        })
        
    }
</script>
