@model 上海燕洵物联网科技有限公司人事管理系统.Models.VacateViewModel

@{
    ViewBag.Title = "审核请假";
}
<script src="~/Content/jquery-3.1.1.js"></script>
<h2>VacateEmp</h2>

<div>
    <h4>VacateViewModel</h4>

    <hr />
    @Html.HiddenFor(model => model.Id)
    <dl class="dl-horizontal">
        <dt>
            员工编号
        </dt>

        <dd id="EmpsId">
            @Html.DisplayFor(model => model.EmpsId)
        </dd>

        <dt>
            员工名称
        </dt>

        <dd id="Name">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
           请假原因
        </dt>

        <dd id="Cause">
            @Html.DisplayFor(model => model.Cause)
        </dd>

        <dt>
            请假描述
        </dt>

        <dd id="Remark">
            @Html.DisplayFor(model => model.Remark)
        </dd>



    </dl>
    <p>
        <input id="Btn1" type="button" value="审核通过" onclick="Yes(@Model.Id)" />
        <input id="Btn2" type="button" value="驳回" onclick="No(@Model.Id)" />
    </p>
</div>

<p>

    @Html.ActionLink("返回请假列表", "ShowVacate")
</p>
<script>
    fun();
    function fun() {
        $("[name=Menu]").empty();
        $.ajax({
            url: "/Login/ShowMenu",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                console.log(data);
                var li = '';
                for (var i in data) {
                    li += '  <li><a href="' + data[i].href + '"><i class="fa fa-edit"></i><span>' + data[i].PermissionName + '</span></a></li>';
                }
                $("[name=Menu]").append(li);
            }

        })


    }
    
    function Yes(id) {
        var o = {
            Id:id,
            EmpsId: $("#EmpsId").text().trim(),
            Name: $("#Name").text().trim(),
            Cause: $("#Cause").text().trim(),
            Remark: $("#Remark").text().trim(),
            VacateState:2
        };
        $.ajax({
            uri: "/Manager/VacateEmp",
            data: { vacate: o},
            type:"post",
            success: function (data) {
                alert(data);
            }
        })


    }
    function No(id) {
        var o = {
            Id: id,
            EmpsId: $("#EmpsId").text().trim(),
            Name: $("#Name").text().trim(),
            Cause: $("#Cause").text().trim(),
            Remark: $("#Remark").text().trim(),
            VacateState: 3
        };
        $.ajax({
            uri: "/Manager/VacateEmp",
            data: { vacate: o },
            type: "post",
            success: function (data) {
                alert(data);
            }
        })
    }
</script>

