@model 上海燕洵物联网科技有限公司人事管理系统.Models.VacateViewModel

@{
    ViewBag.Title = "审核请假";
}
<script src="~/Content/jquery-3.1.1.js"></script>
<link href="~/Areas/layer/mobile/need/layer.css" rel="stylesheet" />
<script src="~/Areas/layer/layer.js"></script>

<div>
    <h4>审核请假</h4>
    <h3> @Html.ActionLink("返回请假列表", "ShowVacate")</h3>

    @Html.HiddenFor(model => model.Id)
    <table class="table-hover" style=" width:500px;height:350px;margin-left:400px;">
        <tr>
            <td> 员工编号</td>
            <td id="EmpsId"> @Html.DisplayFor(model => model.EmpsId)</td>
        </tr>
        <tr>
            <td>员工名称</td>
            <td id="Name"> @Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <td>请假原因</td>
            <td id="Cause">@Html.DisplayFor(model => model.Cause)</td>
        </tr>
        <tr>
            <td>请假描述</td>
            <td id="Remark">@Html.DisplayFor(model => model.Remark)</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input id="Btn1" type="button" value="审核通过" onclick="Yes(@Model.Id)" />
                <input id="Btn2" type="button" value="驳回" onclick="No(@Model.Id)" />
            </td>
        </tr>
    </table>

</div>


<script>
    fun();
    function fun() {
        $("[name=Menu]").empty();
        $.ajax({
            url: "/Login/ShowMenu",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                console.log(data);
                var li = '';
                for (var i in data) {
                    li += '  <li><a href="' + data[i].href + '"><i class="fa fa-edit"></i><span>' + data[i].PermissionName + '</span></a></li>';
                }
                $("[name=Menu]").append(li);
            }

        })


    }

    function Yes(id) {
        var o = {
            Id: id,
            EmpsId: $("#EmpsId").text().trim(),
            Name: $("#Name").text().trim(),
            Cause: $("#Cause").text().trim(),
            Remark: $("#Remark").text().trim(),
            VacateState: 2
        };
        $.ajax({
            uri: "/Manager/VacateEmp",
            data: { vacate: o },
            type: "post",
            success: function (data) {
                layer.alert(data);
                location.href = '/Manager/ShowVacate';
            }
        })


    }
    function No(id) {
        var o = {
            Id: id,
            EmpsId: $("#EmpsId").text().trim(),
            Name: $("#Name").text().trim(),
            Cause: $("#Cause").text().trim(),
            Remark: $("#Remark").text().trim(),
            VacateState: 3
        };
        $.ajax({
            uri: "/Manager/VacateEmp",
            data: { vacate: o },
            type: "post",
            success: function (data) {
                layer.alert(data);
                location.href = '/Manager/ShowVacate';
            }
        })
    }
</script>

