@model 上海燕洵物联网科技有限公司人事管理系统.Models.VacateViewModel

@{
    ViewBag.Title = "审核请假";
}
<script src="~/Content/jquery-3.1.1.js"></script>
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui/layui.js"></script>

<div>

    <i class="layui-icon layui-icon-return" style="font-size: 30px;color: #1E9FFF; "  onclick="location.href='/Manager/ShowVacate'"></i>
    @Html.HiddenFor(model => model.Id)
    <table class="table-hover" style=" width:500px;height:350px;margin-left:400px;">
        <tr>
            <td> 员工编号</td>
            <td id="EmpsId"> @Html.DisplayFor(model => model.EmpsId)</td>
        </tr>
        <tr>
            <td>员工名称</td>
            <td id="Name"> @Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <td>请假原因</td>
            <td id="Cause">@Html.DisplayFor(model => model.Cause)</td>
        </tr>
        <tr>
            <td>请假描述</td>
            <td id="Remark">@Html.DisplayFor(model => model.Remark)</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button class="layui-btn" onclick="Yes(@Model.Id)">审核通过</button>
                <button class="layui-btn layui-btn-danger" onclick="No(@Model.Id)">驳回</button>
            </td>
        </tr>
    </table>

</div>


<script>
    fun();
    function fun() {
        $("[name=Menu]").empty();
        $.ajax({
            url: "/Login/ShowMenu",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                console.log(data);
                var li = '';
                for (var i in data) {
                    li += '  <li><a href="' + data[i].href + '"><i class="fa fa-edit"></i><span>' + data[i].PermissionName + '</span></a></li>';
                }
                $("[name=Menu]").append(li);
            }

        })


    }

    function Yes(id) {
        var o = {
            Id: id,
            EmpsId: $("#EmpsId").text().trim(),
            Name: $("#Name").text().trim(),
            Cause: $("#Cause").text().trim(),
            Remark: $("#Remark").text().trim(),
            VacateState: 2
        };
        layui.use('layer', function () { 
        $.ajax({
            uri: "/Manager/VacateEmp",
            data: { vacate: o },
            type: "post",
            success: function (data) {
                layer.alert(data);
                location.href = '/Manager/ShowVacate';
            }
        })
        })


    }
    function No(id) {
        var o = {
            Id: id,
            EmpsId: $("#EmpsId").text().trim(),
            Name: $("#Name").text().trim(),
            Cause: $("#Cause").text().trim(),
            Remark: $("#Remark").text().trim(),
            VacateState: 3
        };
        layui.use('layer', function () { 
            $.ajax({
                uri: "/Manager/VacateEmp",
                data: { vacate: o },
                type: "post",
                success: function (data) {
                    layer.alert(data);
                    location.href = '/Manager/ShowVacate';
                }
            })
        })
    }
</script>

